body {
  background-color: rgb(233, 233, 233);
}

.contenedor {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.contenedorAdentro {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.aside1 {
  background-color: rgb(233, 233, 233);
  flex: 1;
  flex-grow: 1;
  min-width: 20%;
  gap: 30px;
}
.aside1 .card {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.aside1 .card .cardContent {
  padding: 10px;
  margin: 10px;
}
.aside1 .card h3 {
  font-weight: lighter;
}

.links {
  list-style-type: none;
  margin-bottom: 10px;
  text-decoration: none;
}
.links li {
  margin-bottom: 10px;
}
.links li a {
  text-decoration: none;
  color: black;
}

h3 {
  padding-top: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.socials div a {
  text-decoration: none;
}

div h5 {
  font-weight: lighter;
  color: rgb(124, 124, 124);
}
div h5 a {
  text-decoration: none;
}

main {
  flex: 1;
  flex-grow: 4;
  min-width: 55%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
}
body p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  max-width: 100%;
  height: 36px;
  padding-top: 2px;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
}
header ul a {
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sectionMain {
  max-width: 100%;
  border: 1px lightgray solid;
  border-radius: 1%;
  margin-top: 15px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.sectionMain h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sectionMain .mainImage {
  width: 100%;
  height: 100%;
}
.sectionMain .imageTravis {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
}
.sectionMain .divTravis {
  width: 15%;
}
.sectionMain .authorContainer {
  position: relative;
}
.sectionMain .authorDate {
  position: absolute;
  top: 3px;
  left: 62px;
}
.sectionMain .iconsDiv {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.sectionMain .iconsDiv .icons {
  background-color: lightgrey;
  width: 20px;
  height: 20px;
  border-radius: 70%;
}
.sectionMain .buttonsDiv {
  display: inline-flex;
  gap: 15px;
  margin: 0 8px;
}
.sectionMain .buttonsDiv .btn {
  border: none;
  height: 30px;
  background: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sectionMain .buttonsDiv .btn span {
  color: green;
}
.sectionMain .buttonsDiv .btn:hover {
  background: purple;
  opacity: 40%;
  color: black;
  border: 1px solid purple;
  border-radius: 4%;
}
.sectionMain .reactions {
  margin-left: 20px;
  margin-top: 0;
  margin-right: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sectionMain .comments {
  margin-left: 5px;
  margin-top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sectionMain .comments .readingTime {
  margin-left: 160px;
}
.sectionMain .bookmark {
  border: none;
  margin-left: 40px;
  margin-top: -10px;
  background: transparent;
}
.sectionMain .startNow {
  color: blue;
  text-decoration: underline;
  font-size: 30px;
}
.sectionMain .cardTwoText {
  margin: 0 20px;
}
.sectionMain .happyCoding {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sectionMain .devCommunity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sectionMain button {
  border: none;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .reactionsHide,
  .commentsHide {
    display: none;
  }
}
.aside2 {
  background-color: whitesmoke;
  flex: 1;
  flex-grow: 2;
  min-width: 25%;
  text-align: justify;
}

.contenedor1 {
  background-color: whitesmoke;
  margin: 0.5px;
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1px;
}